{% extends "base.html" %}

{% block title %}OptimalCost{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1></h1>
    
</div>
<div class="child">
  <h6>
      <span><i class="las la-chart-bar"></i>成本曲线</span>
      <i class="las la-ellipsis-v"></i>
  </h6>
  <div class="line-chart"><div class="chartjs-size-monitor">
    <div class="chartjs-size-monitor-expand">
      <div class=""></div>
    </div>
    <div class="chartjs-size-monitor-shrink">
      <div class=""></div>
    </div>
  </div>
  <canvas id="myChart" width="948" height="474" class="chartjs-render-monitor" style="display: block; height: 237px; width: 474px;"></canvas>
  </div>
</div>


<!--参数设置-->
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">参数设置</a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div id="spec" class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">目标板厚度、层数区间、误差</span>
      </div>
      <input id="tarland" type="text" aria-label="" value="10" class="form-control" placeholder="厚度（mm）">
      <input id="minmax" type="text" aria-label=”“ value="4,5" class="form-control" placeholder="层数（最小，最大）">
      <input id="error" type="text" aria-label=”“ value="0.5" class="form-control" placeholder="精度（+—mm）">
    </div>
  </div>
</div>

<!--数据操作按钮-->
    <div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic example">
        <button id="add-row"type="button" class="btn btn-secondary">增加</button>
        <button id="remove-row" type="button" class="btn btn-secondary">减少</button>
        <button id="count-rows" type="button" class="btn btn-secondary">计算</button>
    </div>
  
<div id="spec-container">
    <div class="input-group mt-2">
        <div class="input-group-prepend">
          <span class="input-group-text">物料</span>
        </div>
        <input type="text" aria-label="First name" class="form-control" placeholder="规格（mm）">
        <input type="text" aria-label="Last name" class="form-control" placeholder="价格（x.00）">
    </div>
    <div class="input-group mt-2">
      <div class="input-group-prepend">
        <span class="input-group-text">物料</span>
      </div>
      <input type="text" aria-label="First name" class="form-control" placeholder="规格（mm）">
      <input type="text" aria-label="Last name" class="form-control" placeholder="价格（x.00）">
  </div>
  <div class="input-group mt-2">
    <div class="input-group-prepend">
      <span class="input-group-text">物料</span>
    </div>
    <input type="text" aria-label="First name" class="form-control" placeholder="规格（mm）">
    <input type="text" aria-label="Last name" class="form-control" placeholder="价格（x.00）">
  </div>
</div>
{% endblock %}


